# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*

# Build outputs
client/dist/
server/uploads/
server/prisma/*.db
server/prisma/*.db-journal

# Environment
**/.env
**/.env.*
!.env.example

# IDE
.vscode/
